@charset "UTF-8";
/*公共*/
* {
  box-sizing: border-box; }

.navbar:after {
  background-color: transparent; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.pseudo-clear:after {
  clear: both;
  display: block;
  content: ''; }

.pseudo-clear:before {
  clear: both;
  display: block;
  content: ''; }

.left {
  float: left; }

.right {
  float: right; }

.clear-both {
  clear: both; }

/*公共end*/
.qdm .navbar {
  background: #148304;
  height: 12.2222222222vw; }
  .qdm .navbar .qdm-icon-back {
    color: #fff; }
  .qdm .navbar .iconfont {
    font-size: 6.1111111111vw;
    color: #fff; }
  .qdm .navbar .center {
    color: #fff; }
  .qdm .navbar .qdm-titleSearch-gp {
    position: relative;
    height: 28px;
    width: 62.5235404896%; }
    .qdm .navbar .qdm-titleSearch-gp .sch, .qdm .navbar .qdm-titleSearch-gp .mic {
      font-size: 1.2rem;
      position: absolute; }
    .qdm .navbar .qdm-titleSearch-gp .sch {
      left: .5rem;
      top: 50%;
      margin-top: -.6rem;
      color: #148304;
      line-height: 1; }
    .qdm .navbar .qdm-titleSearch-gp .mic {
      right: .5rem;
      top: 50%;
      margin-top: -.6rem; }
    .qdm .navbar .qdm-titleSearch-gp .ipt {
      border-radius: 10rem;
      padding-left: 2.2rem; }
.qdm .page-content {
  padding-bottom: 16.6666666667vw;
  background: #f8f8f8; }
.qdm .toolbar {
  background: #f8f8f8;
  height: 13.8888888889vw;
  border-top: 1px solid #999; }
  .qdm .toolbar .link.active i {
    color: #148304; }
  .qdm .toolbar .link.active .tabbar-label {
    color: #333; }
  .qdm .toolbar .link i {
    font-size: 5.462962963vw; }
  .qdm .toolbar .link span {
    margin-left: 0; }
.qdm .tabbar a {
  color: #999; }
.qdm .tabbar-label {
  line-height: 1;
  font-size: 3.0555555556vw;
  margin-top: 0.9259259259vw; }

.linePar {
  position: relative; }

.component {
  position: absolute;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

.tip {
  position: absolute;
  width: 171px;
  height: 81px;
  background: url("../../img/paopao.png");
  background-repeat: no-repeat;
  top: 300px;
  left: 120px; }

.zhanname {
  font-size: 1.2rem;
  font-weight: 600;
  width: 160px;
  margin: auto;
  height: 30px;
  border-bottom: 1px solid;
  margin-top: 5px;
  padding-left: 20px; }

.zbtns {
  margin-top: 5px; }

.qd {
  background: #006600;
  margin-left: 15px; }

.zd {
  background: red; }

.qd, .zd {
  width: 70px;
  height: 28px;
  line-height: 28px;
  border: none;
  color: #fff; }

.line-btm-btns {
  width: 80%;
  margin: auto; }

.topzhan {
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: 1.5rem; }

.topzhanCard {
  width: 110px;
  height: 56px;
  line-height: 56px;
  background: #cccccc; }
  .topzhanCard p {
    margin: 0;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
    font-size: .6rem; }
  .topzhanCard i {
    margin-right: .3rem; }

.topzhanCardL {
  float: left; }

.topzhanCardR {
  float: right; }

.address-ttl {
  border-bottom: 1px solid #ccc;
  height: 25px;
  line-height: 25px; }
  .address-ttl .inf {
    font-weight: 600;
    color: #000;
    float: left; }
  .address-ttl .opt {
    color: red;
    float: right; }

.address {
  margin-left: 10px;
  margin-right: 10px; }
  .address ul, .address li {
    margin: 0;
    padding: 0; }
  .address li {
    border-bottom: 1px solid #ccc;
    height: 34px;
    line-height: 34px;
    position: relative; }
    .address li i {
      position: absolute;
      top: 50%;
      margin-top: -.5rem;
      right: 10px;
      font-size: 1rem; }

.address-ttl:after {
  content: '';
  display: block;
  clear: both; }

.funItems .circle {
  width: 12.4074074074vw;
  height: 12.4074074074vw;
  line-height: 12.4074074074vw;
  border-radius: 100%;
  display: inline-block;
  text-align: center; }
  .funItems .circle .iconfont {
    color: #fff;
    font-size: 6.6666666667vw; }
.funItems .iconfont {
  font-size: 8.0555555556vw; }
.funItems li {
  margin-top: 1.8518518519vw;
  margin-bottom: 1.8518518519vw;
  float: left;
  width: 25%;
  text-align: center; }
.funItems:after {
  content: '';
  display: block;
  clear: both; }
.funItems span {
  display: block;
  line-height: 1;
  margin-top: 1.8518518519vw;
  font-size: 3.3333333333vw; }

.index-pd-lr, .news-list-item, .imgnews-list, .newsDetail, .mail-fun, .product-list-par, .product-detail-cnt .price, .product-detail-title, .product-detail-seller-sj, .bztj {
  padding-left: 3.1481481481vw;
  padding-right: 3.1481481481vw; }

.icon-fun-blue {
  color: #2796d4; }

.icon-fun-green {
  color: #66cc99; }

.icon-fun-yellow {
  color: #ffcc33; }

.icon-fun-xh {
  color: #ff3366; }

.circle-fun-blue {
  background: #66ccff; }

.circle-fun-green {
  background: #33cc66; }

.circle-fun-yellow {
  background: #ffcc66; }

.circle-fun-xh {
  background: #ff9999; }

.top-fun-par {
  background: #148304;
  color: #fff;
  padding-left: 3.1481481481vw;
  padding-right: 3.1481481481vw;
  padding-top: 2.7777777778vw;
  padding-bottom: 3.1481481481vw; }
  .top-fun-par .iconfont {
    font-size: 8.0555555556vw; }
  .top-fun-par span {
    font-size: 3.3333333333vw; }

.mid-fun-par {
  background: #fff;
  padding-left: 3.1481481481vw;
  padding-right: 3.1481481481vw;
  padding-bottom: 1.8518518519vw; }
  .mid-fun-par .iconfont {
    font-size: 8.0555555556vw; }
  .mid-fun-par span {
    font-size: 3.3333333333vw; }
  .mid-fun-par li {
    margin-top: 1.8518518519vw;
    margin-bottom: 1.8518518519vw; }

.notice-par {
  padding-top: 2.7777777778vw;
  padding-bottom: 2.7777777778vw;
  background: #ffffcc; }
  .notice-par ul {
    margin-left: 3.4259259259vw; }
  .notice-par li {
    list-style: disc inside;
    line-height: 1;
    margin-top: 1.8518518519vw;
    margin-bottom: 1.8518518519vw;
    font-size: 3.0555555556vw;
    color: #ff9900; }
  .notice-par ul, .notice-par .notice-img {
    display: inline-block;
    vertical-align: middle; }

.notice-img {
  margin-left: 5.2777777778vw;
  font-size: 0; }
  .notice-img img {
    width: 12.037037037vw;
    height: 11.3888888889vw; }

.news-list {
  border-top: 1px solid #ccc; }

.news-list-item {
  border-bottom: 1px solid #ccc;
  padding-top: 1.3888888889vw;
  padding-bottom: 1.3888888889vw; }

.news-list-img,
.news-list-inf {
  display: inline-block;
  vertical-align: middle; }

.news-list-img {
  font-size: 0; }
  .news-list-img img {
    width: 30.3703703704vw;
    height: 19.9074074074vw; }

.news-list-inf {
  width: 60.7407407407vw;
  height: 19.9074074074vw;
  margin-left: 1.3888888889vw; }
  .news-list-inf h3 {
    margin: 0;
    line-height: 1; }
  .news-list-inf p {
    line-height: 1.5;
    margin-top: 1.5740740741vw;
    margin-bottom: 1.5740740741vw; }

.news-list-inf-title {
  font-weight: 600;
  font-size: 3.5185185185vw; }

.news-list-inf-cnt {
  font-size: 2.7777777778vw; }

.index-news-par {
  background: #f8f8f8;
  padding-bottom: 2.7777777778vw; }

.news-list-inf-btm {
  font-size: 2.3148148148vw; }
  .news-list-inf-btm .iconfont {
    font-size: 2.3148148148vw; }

.news-list-inf-btm-time {
  color: #ccc; }

.news-list-inf-btm-read {
  float: right;
  color: #ffcc33; }
  .news-list-inf-btm-read i, .news-list-inf-btm-read span {
    line-height: 1;
    vertical-align: middle; }

.imgnews-list-item-title {
  font-size: 3.1481481481vw; }

.imgnews-list-item-img li {
  float: left;
  margin-right: 2.5925925926vw; }
  .imgnews-list-item-img li:last-child {
    margin-right: 0; }
  .imgnews-list-item-img li img {
    width: 21.2962962963vw;
    height: 22.037037037vw; }

.moreFun-page-content {
  background: #fff; }

.moreFun-par {
  background: #fff; }

.my-funs-title {
  border-left: 2.7777777778vw solid #ffcc33;
  background: #f8f8f8;
  color: #666;
  font-size: 3.6111111111vw;
  padding-left: 2.962962963vw;
  height: 9.2592592593vw;
  line-height: 9.2592592593vw;
  font-weight: 600; }

.all-funs {
  margin-bottom: 3.7037037037vw; }

.newsDetail h3 {
  font-weight: 600;
  font-size: 5.1851851852vw;
  color: #000;
  line-height: 1.4; }

.newsDetail-time {
  font-size: 3.1481481481vw;
  color: #999; }

.newsDetail-cnt {
  font-size: 3.6111111111vw;
  color: #666;
  line-height: 1.8; }

.mail-banner {
  font-size: 0; }
  .mail-banner img {
    width: 100%;
    height: 33.5185185185vw; }

.mail-fun {
  background: #f8f8f8;
  padding-top: 0.9259259259vw;
  padding-bottom: 0.9259259259vw; }

.product-list-par {
  margin-top: 1.8518518519vw;
  background: #fff; }

.product-list-item {
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2.962962963vw;
  background: #fff; }

.product-list-item-img {
  font-size: 0; }
  .product-list-item-img img {
    width: 24.0740740741vw;
    height: 24.0740740741vw; }

.product-list-item-cnt {
  margin-left: 2.7777777778vw;
  height: 24.0740740741vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .product-list-item-cnt h3 {
    margin: 0;
    font-size: 3.0555555556vw;
    margin-top: 4.6296296296vw; }

.product-list-item-btm {
  margin-bottom: 0; }

.product-list-item-price {
  color: #ff0000;
  font-size: 3.0555555556vw; }

.product-list-item-oldPrice {
  color: #999;
  text-decoration: line-through;
  font-size: 2.3148148148vw; }

.product-list-item-distance {
  float: right;
  font-size: 2.3148148148vw;
  color: #ff0000; }

.product-detail img {
  width: 100%;
  height: 62.3148148148vw; }

.product-detail-seller-inf {
  background: #ffffcc;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900; }

.product-detail-seller-inf-cnt {
  margin-left: 3.3333333333vw;
  padding-right: 4.6296296296vw;
  padding-bottom: 1.8518518519vw; }
  .product-detail-seller-inf-cnt p {
    margin: 0; }
  .product-detail-seller-inf-cnt p:nth-of-type(1) {
    color: #ff9900;
    font-size: 3.5185185185vw;
    margin-top: 2.962962963vw; }
  .product-detail-seller-inf-cnt p:nth-of-type(2) {
    color: #333;
    font-size: 3.0555555556vw;
    line-height: 2; }

.product-detail-seller-inf {
  display: -webkit-flex;
  display: flex; }

.product-detail-seller-inf-img {
  width: 10.5555555556vw; }
  .product-detail-seller-inf-img i {
    float: right;
    margin-top: 2.5925925926vw;
    color: #ff9900; }

.product-detail-seller-sj {
  font-weight: 600; }
  .product-detail-seller-sj i {
    margin-left: 1.6666666667vw;
    top: 0.2777777778vw;
    position: relative; }

.product-detail-img {
  font-size: 0; }
  .product-detail-img img {
    width: 100%; }

.product-detail-tip {
  float: right;
  background: #66cc33;
  color: #fff;
  margin-left: 1.3888888889vw;
  padding: 0.9259259259vw;
  border-radius: 0.9259259259vw; }

.inf-banner {
  font-size: 0; }
  .inf-banner img {
    width: 100%;
    height: 52.4074074074vw; }

.bztj {
  background: #fff;
  margin: 0;
  font-size: 3.6111111111vw;
  height: 10.3703703704vw;
  line-height: 10.3703703704vw; }

.inf-index-tab {
  display: -webkit-flex;
  display: flex;
  background: #ececec; }
  .inf-index-tab li {
    width: 25%;
    height: 11.1111111111vw;
    line-height: 11.1111111111vw;
    text-align: center; }
  .inf-index-tab .active {
    border-bottom: 2px solid #ffcc33; }

/*# sourceMappingURL=my-app.css.map */
