* {
  box-sizing: border-box; }

.qdm .navbar {
  background: #148304;
  height: 12.2222222222vw; }
  .qdm .navbar .qdm-icon-back {
    color: #fff; }
  .qdm .navbar .icon-xiaoxi {
    font-size: 6.1111111111vw;
    color: #fff; }
  .qdm .navbar .qdm-titleSearch-gp {
    position: relative;
    height: 28px;
    width: 62.5235404896%;
    margin-left: 19.5856873823%; }
    .qdm .navbar .qdm-titleSearch-gp .sch, .qdm .navbar .qdm-titleSearch-gp .mic {
      font-size: 1.2rem;
      position: absolute; }
    .qdm .navbar .qdm-titleSearch-gp .sch {
      left: .5rem;
      top: 50%;
      margin-top: -.77rem;
      color: #148304; }
    .qdm .navbar .qdm-titleSearch-gp .mic {
      right: .5rem;
      top: 50%;
      margin-top: -.6rem; }
    .qdm .navbar .qdm-titleSearch-gp .ipt {
      border-radius: 10rem;
      padding-left: 2.2rem; }
.qdm .toolbar {
  background: #f8f8f8;
  height: 13.8888888889vw;
  border-top: 2px solid #999; }
  .qdm .toolbar .tab-link.active i {
    color: #148304; }
  .qdm .toolbar .tab-link.active .tabbar-label {
    color: #333; }
  .qdm .toolbar .tab-link i {
    font-size: 5.462962963vw; }
.qdm .tabbar a {
  color: #999; }
.qdm .tabbar-label {
  line-height: 1;
  font-size: 3.0555555556vw;
  margin-top: 0.9259259259vw; }

.linePar {
  position: relative; }

.component {
  position: absolute;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

.tip {
  position: absolute;
  width: 171px;
  height: 81px;
  background: url("../../img/paopao.png");
  background-repeat: no-repeat;
  top: 300px;
  left: 120px; }

.zhanname {
  font-size: 1.2rem;
  font-weight: 600;
  width: 160px;
  margin: auto;
  height: 30px;
  border-bottom: 1px solid;
  margin-top: 5px;
  padding-left: 20px; }

.zbtns {
  margin-top: 5px; }

.qd {
  background: #006600;
  margin-left: 15px; }

.zd {
  background: red; }

.qd, .zd {
  width: 70px;
  height: 28px;
  line-height: 28px;
  border: none;
  color: #fff; }

.line-btm-btns {
  width: 80%;
  margin: auto; }

.topzhan {
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: 1.5rem; }

.topzhanCard {
  width: 110px;
  height: 56px;
  line-height: 56px;
  background: #cccccc; }
  .topzhanCard p {
    margin: 0;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
    font-size: .6rem; }
  .topzhanCard i {
    margin-right: .3rem; }

.topzhanCardL {
  float: left; }

.topzhanCardR {
  float: right; }

.address-ttl {
  border-bottom: 1px solid #ccc;
  height: 25px;
  line-height: 25px; }
  .address-ttl .inf {
    font-weight: 600;
    color: #000;
    float: left; }
  .address-ttl .opt {
    color: red;
    float: right; }

.address {
  margin-left: 10px;
  margin-right: 10px; }
  .address ul, .address li {
    margin: 0;
    padding: 0; }
  .address li {
    border-bottom: 1px solid #ccc;
    height: 34px;
    line-height: 34px;
    position: relative; }
    .address li i {
      position: absolute;
      top: 50%;
      margin-top: -.5rem;
      right: 10px;
      font-size: 1rem; }

.address-ttl:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=my-app.css.map */
