@charset "UTF-8";
/*公共*/
* {
  box-sizing: border-box; }

.navbar:after {
  background-color: transparent; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

input {
  border: none; }

.pseudo-clear:after {
  clear: both;
  display: block;
  content: ''; }

.pseudo-clear:before {
  clear: both;
  display: block;
  content: ''; }

.left {
  float: left; }

.right {
  float: right; }

.clear-both {
  clear: both; }

/*公共end*/
.qdm .qdm-titleSearch-gp {
  position: relative;
  height: 28px;
  width: 62.5235404896%; }
  .qdm .qdm-titleSearch-gp .sch, .qdm .qdm-titleSearch-gp .mic {
    font-size: 1.2rem;
    position: absolute; }
  .qdm .qdm-titleSearch-gp .sch {
    left: .5rem;
    top: 50%;
    margin-top: -.6rem;
    color: #148304;
    line-height: 1; }
  .qdm .qdm-titleSearch-gp .mic {
    right: .5rem;
    top: 50%;
    margin-top: -.6rem; }
  .qdm .qdm-titleSearch-gp .ipt {
    border-radius: 10rem;
    padding-left: 2.2rem; }
.qdm .navbar {
  background: #148304;
  height: 12.2222222222vw; }
  .qdm .navbar .qdm-icon-back {
    color: #fff; }
  .qdm .navbar .iconfont,
  .qdm .navbar .f7-icons {
    font-size: 6.1111111111vw;
    color: #fff; }
  .qdm .navbar .center {
    color: #fff; }
  .qdm .navbar .qdm-titleSearch-gp {
    position: relative;
    height: 28px;
    width: 62.5235404896%; }
    .qdm .navbar .qdm-titleSearch-gp .sch, .qdm .navbar .qdm-titleSearch-gp .mic {
      font-size: 1.2rem;
      position: absolute; }
    .qdm .navbar .qdm-titleSearch-gp .sch {
      left: .5rem;
      top: 50%;
      margin-top: -.6rem;
      color: #148304;
      line-height: 1; }
    .qdm .navbar .qdm-titleSearch-gp .mic {
      right: .5rem;
      top: 50%;
      margin-top: -.6rem; }
    .qdm .navbar .qdm-titleSearch-gp .ipt {
      border-radius: 10rem;
      padding-left: 2.2rem; }
.qdm .page-content {
  padding-bottom: 16.6666666667vw;
  background: #f8f8f8; }
.qdm .toolbar {
  background: #f8f8f8;
  height: 13.8888888889vw;
  border-top: 1px solid #999; }
  .qdm .toolbar .link.active i {
    color: #148304; }
  .qdm .toolbar .link.active .tabbar-label {
    color: #333; }
  .qdm .toolbar .link i {
    font-size: 5.462962963vw; }
  .qdm .toolbar .link span {
    margin-left: 0; }
.qdm .tabbar a {
  color: #999; }
.qdm .tabbar-label {
  line-height: 1;
  font-size: 3.0555555556vw;
  margin-top: 0.9259259259vw; }
.qdm .right-my a {
  color: #ffcc66;
  font-size: 2.7777777778vw;
  vertical-align: middle; }
.qdm .right-my .icon-qiandao {
  color: #ffcc66;
  font-size: 7.4074074074vw;
  margin-right: 0.7407407407vw; }
.qdm .right-find a {
  margin-left: 0.462962963vw !important; }

.linePar {
  position: relative; }

.component {
  position: absolute;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

.tip {
  position: absolute;
  width: 39.1666666667vw;
  height: 26.2037037037vw;
  background: url("../../img/line-tip.png");
  background-size: 39.1666666667vw 26.2037037037vw;
  background-repeat: no-repeat;
  top: 300px;
  left: 120px; }
  .tip .zhanname {
    font-size: 3.6111111111vw;
    font-weight: 600;
    text-align: center;
    height: 10vw;
    line-height: 10vw; }
  .tip .qd {
    margin-left: 3.4259259259vw; }
  .tip .zd {
    margin-left: 2.2222222222vw; }
  .tip .zbtns {
    height: 5.5555555556vw; }
    .tip .zbtns::after {
      content: '';
      display: block;
      clear: both; }
  .tip .qd, .tip .zd {
    float: left;
    display: block;
    width: 15.462962963vw;
    height: 5.5555555556vw;
    line-height: 5.5555555556vw;
    color: #fff;
    font-size: 3.0555555556vw;
    text-align: center; }

.line-btm-btns {
  width: 80%;
  margin: auto; }

.topzhan {
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: 1.5rem; }

.topzhanCard {
  width: 110px;
  height: 56px;
  line-height: 56px;
  background: #cccccc; }
  .topzhanCard p {
    margin: 0;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
    font-size: .6rem; }
  .topzhanCard i {
    margin-right: .3rem; }

.topzhanCardL {
  float: left; }

.topzhanCardR {
  float: right; }

.address-ttl {
  border-bottom: 1px solid #ccc;
  height: 25px;
  line-height: 25px; }
  .address-ttl .inf {
    font-weight: 600;
    color: #000;
    float: left; }
  .address-ttl .opt {
    color: red;
    float: right; }

.address {
  margin-left: 10px;
  margin-right: 10px; }
  .address ul, .address li {
    margin: 0;
    padding: 0; }
  .address li {
    border-bottom: 1px solid #ccc;
    height: 34px;
    line-height: 34px;
    position: relative; }
    .address li i {
      position: absolute;
      top: 50%;
      margin-top: -.5rem;
      right: 10px;
      font-size: 1rem; }

.address-ttl:after {
  content: '';
  display: block;
  clear: both; }

.funItems .icon-comiisjiahao,
.funItems .icon-jianhao {
  font-size: 1.8518518519vw !important;
  position: absolute;
  right: 8.0555555556vw; }
.funItems .icon-jianhao {
  color: #a8a1a1; }
.funItems .icon-comiisjiahao {
  color: #f51c06; }
.funItems .circle {
  width: 12.4074074074vw;
  height: 12.4074074074vw;
  line-height: 12.4074074074vw;
  border-radius: 100%;
  display: inline-block;
  text-align: center; }
  .funItems .circle .iconfont {
    color: #fff;
    font-size: 6.6666666667vw; }
.funItems .iconfont {
  font-size: 8.0555555556vw; }
.funItems li {
  margin-top: 1.8518518519vw;
  margin-bottom: 1.8518518519vw;
  float: left;
  width: 25%;
  text-align: center;
  position: relative; }
.funItems:after {
  content: '';
  display: block;
  clear: both; }
.funItems span {
  display: block;
  line-height: 1;
  margin-top: 1.8518518519vw;
  font-size: 3.3333333333vw; }

.index-pd-lr, .news-list-item, .imgnews-list, .newsDetail, .mail-fun, .product-list-par, .product-detail-cnt .price, .product-detail-title, .product-detail-seller-sj, .bztj, .cloudCard-open-par, .ewallet-par, .my-yw-par li, .line-top, .line-btm, .line-list-item, .line-detail-par .goup, .line-detail-zhan-list-par, .line-detail {
  padding-left: 3.1481481481vw;
  padding-right: 3.1481481481vw; }

.icon-fun-blue {
  color: #2796d4; }

.icon-fun-green {
  color: #66cc99; }

.icon-fun-yellow {
  color: #ffcc33; }

.icon-fun-xh {
  color: #ff3366; }

.circle-fun-blue {
  background: #66ccff; }

.circle-fun-green {
  background: #33cc66; }

.circle-fun-yellow {
  background: #ffcc66; }

.circle-fun-xh {
  background: #ff9999; }

.top-fun-par {
  background: #148304;
  color: #fff;
  padding-left: 3.1481481481vw;
  padding-right: 3.1481481481vw;
  padding-top: 2.7777777778vw;
  padding-bottom: 3.1481481481vw; }
  .top-fun-par .iconfont {
    font-size: 8.0555555556vw; }
  .top-fun-par span {
    font-size: 3.3333333333vw; }

.mid-fun-par {
  background: #fff;
  padding-left: 3.1481481481vw;
  padding-right: 3.1481481481vw;
  padding-bottom: 1.8518518519vw; }
  .mid-fun-par .iconfont {
    font-size: 8.0555555556vw; }
  .mid-fun-par span {
    font-size: 3.3333333333vw; }
  .mid-fun-par li {
    margin-top: 1.8518518519vw;
    margin-bottom: 1.8518518519vw; }

.notice-par {
  padding-top: 2.7777777778vw;
  padding-bottom: 2.7777777778vw;
  background: #ffffcc; }
  .notice-par ul {
    margin-left: 3.4259259259vw; }
  .notice-par li {
    list-style: disc inside;
    line-height: 1;
    margin-top: 1.8518518519vw;
    margin-bottom: 1.8518518519vw;
    font-size: 3.0555555556vw;
    color: #ff9900; }
  .notice-par ul, .notice-par .notice-img {
    display: inline-block;
    vertical-align: middle; }

.notice-img {
  margin-left: 5.2777777778vw;
  font-size: 0; }
  .notice-img img {
    width: 12.037037037vw;
    height: 11.3888888889vw; }

.news-list {
  border-top: 1px solid #ccc; }

.news-list-item {
  border-bottom: 1px solid #ccc;
  padding-top: 1.3888888889vw;
  padding-bottom: 1.3888888889vw; }

.news-list-img,
.news-list-inf {
  display: inline-block;
  vertical-align: middle; }

.news-list-img {
  font-size: 0; }
  .news-list-img img {
    width: 30.3703703704vw;
    height: 19.9074074074vw; }

.news-list-inf {
  width: 60.7407407407vw;
  height: 19.9074074074vw;
  margin-left: 1.3888888889vw; }
  .news-list-inf h3 {
    margin: 0;
    line-height: 1; }
  .news-list-inf p {
    line-height: 1.5;
    margin-top: 1.5740740741vw;
    margin-bottom: 1.5740740741vw; }

.news-list-inf-title {
  font-weight: 600;
  font-size: 3.5185185185vw; }

.news-list-inf-cnt {
  font-size: 2.7777777778vw; }

.index-news-par {
  background: #f8f8f8;
  padding-bottom: 2.7777777778vw; }

.news-list-inf-btm {
  font-size: 2.3148148148vw; }
  .news-list-inf-btm .iconfont {
    font-size: 2.3148148148vw; }

.news-list-inf-btm-time {
  color: #ccc; }

.news-list-inf-btm-read {
  float: right;
  color: #ffcc33; }
  .news-list-inf-btm-read i, .news-list-inf-btm-read span {
    line-height: 1;
    vertical-align: middle; }

.imgnews-list-item-title {
  font-size: 3.1481481481vw; }

.imgnews-list-item-img li {
  float: left;
  margin-right: 2.5925925926vw; }
  .imgnews-list-item-img li:last-child {
    margin-right: 0; }
  .imgnews-list-item-img li img {
    width: 21.2962962963vw;
    height: 22.037037037vw; }

.moreFun-page-content {
  background: #fff; }

.moreFun-par {
  background: #fff; }

.my-funs-title {
  border-left: 2.7777777778vw solid #ffcc33;
  background: #f8f8f8;
  color: #666;
  font-size: 3.6111111111vw;
  padding-left: 2.962962963vw;
  height: 9.2592592593vw;
  line-height: 9.2592592593vw;
  font-weight: 600; }

.all-funs {
  margin-bottom: 3.7037037037vw; }

.newsDetail h3 {
  font-weight: 600;
  font-size: 5.1851851852vw;
  color: #000;
  line-height: 1.4; }

.newsDetail-time {
  font-size: 3.1481481481vw;
  color: #999; }

.newsDetail-cnt {
  font-size: 3.6111111111vw;
  color: #666;
  line-height: 1.8; }
  .newsDetail-cnt img {
    width: 100%; }

.mail-banner {
  font-size: 0; }
  .mail-banner img {
    width: 100%;
    height: 33.5185185185vw; }

.mail-fun {
  background: #f8f8f8;
  padding-top: 0.9259259259vw;
  padding-bottom: 0.9259259259vw; }

.product-list-par {
  margin-top: 1.8518518519vw;
  background: #fff; }

.product-list-item {
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2.962962963vw;
  background: #fff; }

.product-list-item-img {
  font-size: 0; }
  .product-list-item-img img {
    width: 24.0740740741vw;
    height: 24.0740740741vw; }

.product-list-item-cnt {
  margin-left: 2.7777777778vw;
  height: 24.0740740741vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .product-list-item-cnt h3 {
    margin: 0;
    font-size: 3.0555555556vw;
    margin-top: 4.6296296296vw; }

.product-list-item-btm {
  margin-bottom: 0; }

.product-list-item-price {
  color: #ff0000;
  font-size: 3.0555555556vw; }

.product-list-item-oldPrice {
  color: #999;
  text-decoration: line-through;
  font-size: 2.3148148148vw; }

.product-list-item-distance {
  float: right;
  font-size: 2.3148148148vw;
  color: #ff0000; }

.product-detail img {
  width: 100%;
  height: 62.3148148148vw; }

.product-detail-seller-inf {
  background: #ffffcc;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900; }

.product-detail-seller-inf-cnt {
  margin-left: 3.3333333333vw;
  padding-right: 4.6296296296vw;
  padding-bottom: 1.8518518519vw; }
  .product-detail-seller-inf-cnt p {
    margin: 0; }
  .product-detail-seller-inf-cnt p:nth-of-type(1) {
    color: #ff9900;
    font-size: 3.5185185185vw;
    margin-top: 2.962962963vw; }
  .product-detail-seller-inf-cnt p:nth-of-type(2) {
    color: #333;
    font-size: 3.0555555556vw;
    line-height: 2; }

.product-detail-seller-inf {
  display: -webkit-flex;
  display: flex; }

.product-detail-seller-inf-img {
  width: 10.5555555556vw; }
  .product-detail-seller-inf-img i {
    float: right;
    margin-top: 2.5925925926vw;
    color: #ff9900; }

.product-detail-seller-sj {
  font-weight: 600; }
  .product-detail-seller-sj i {
    margin-left: 1.6666666667vw;
    top: 0.2777777778vw;
    position: relative; }

.product-detail-img {
  font-size: 0; }
  .product-detail-img img {
    width: 100%; }

.product-detail-tip {
  float: right;
  background: #66cc33;
  color: #fff;
  margin-left: 1.3888888889vw;
  padding: 0.9259259259vw;
  border-radius: 0.9259259259vw; }

.inf-banner {
  font-size: 0; }
  .inf-banner img {
    width: 100%;
    height: 52.4074074074vw; }

.bztj {
  background: #fff;
  margin: 0;
  font-size: 3.6111111111vw;
  height: 10.3703703704vw;
  line-height: 10.3703703704vw; }

.inf-index-tab {
  display: -webkit-flex;
  display: flex;
  background: #ececec; }
  .inf-index-tab li {
    width: 25%;
    height: 11.1111111111vw;
    line-height: 11.1111111111vw;
    text-align: center; }
  .inf-index-tab .active {
    border-bottom: 2px solid #ffcc33; }

.card-page-content {
  position: relative; }

.card-bg img {
  width: 100%;
  height: 100%; }

.card-cnt {
  position: absolute;
  top: 0;
  left: 0; }
  .card-cnt .img-par {
    position: absolute;
    top: 39.4444444444vw;
    left: 34.0740740741vw; }
    .card-cnt .img-par img {
      width: 30.462962963vw;
      height: 18.7962962963vw; }
    .card-cnt .img-par span {
      display: inline-block;
      color: #999;
      font-size: 3.8888888889vw;
      white-space: nowrap;
      margin-left: -2vw;
      margin-top: 4.2592592593vw; }

.card-suc-par,
.card-par {
  width: 81.8518518519vw;
  height: 58.5185185185vw;
  background: #fefedb;
  position: absolute;
  top: 77.3148148148vw;
  left: 11.0185185185vw;
  border-radius: 14px; }

.card-par p {
  margin: auto;
  width: 80%;
  background: #fff; }
.card-par p:nth-child(1) {
  margin-top: 5.2777777778vw;
  height: 9.0740740741vw; }
.card-par p:nth-child(2) {
  margin-top: 12.037037037vw;
  height: 23.6111111111vw; }
.card-par .cnt {
  text-align: center; }
  .card-par .cnt .iconfont {
    font-size: 8.7037037037vw;
    color: #ccc;
    margin-top: 2.7777777778vw; }
  .card-par .cnt a {
    display: block;
    font-size: 3.7037037037vw;
    color: #0099ff;
    margin-top: 2.7777777778vw; }

.cloudCard-open-par {
  padding-top: 4.6296296296vw;
  padding-bottom: 4.6296296296vw; }
  .cloudCard-open-par .ty {
    color: #0099ff;
    margin-top: 4.2592592593vw;
    margin-left: 6.9444444444vw; }
    .cloudCard-open-par .ty i {
      margin-right: 2.4074074074vw; }
  .cloudCard-open-par .kt {
    display: block;
    width: 80.7407407407vw;
    height: 10vw;
    line-height: 10vw;
    color: #fff;
    background: #ffcc00;
    outline: 0;
    border-radius: 0.9259259259vw;
    border: 0;
    margin: auto;
    text-align: center;
    /* position: relative;
     left: 50%;
     margin-left: vw(-872/2);*/ }
  .cloudCard-open-par .gz {
    margin-top: 6.9444444444vw;
    padding-left: 3.2407407407vw;
    color: #999;
    line-height: 1.8; }
    .cloudCard-open-par .gz p {
      margin: 0; }

.cloudCard-open-form {
  background: #fff;
  font-size: 3.7037037037vw; }
  .cloudCard-open-form .gp {
    line-height: 11.2962962963vw;
    padding-left: 4.1666666667vw;
    border-bottom: 1px solid #c6c6c6; }
    .cloudCard-open-form .gp .name {
      color: #999; }
    .cloudCard-open-form .gp .r {
      float: right;
      color: #333;
      margin-right: 1.8518518519vw; }
      .cloudCard-open-form .gp .r .icon-arrow {
        margin-right: 1.8518518519vw; }
      .cloudCard-open-form .gp .r .icon-wenhao {
        color: #0099ff;
        margin-right: 1.8518518519vw;
        margin-left: 0.9259259259vw; }
      .cloudCard-open-form .gp .r.price {
        color: #ff6666;
        margin-right: 7.4074074074vw; }
    .cloudCard-open-form .gp .label-switch {
      margin-left: 1.3888888889vw; }

.payStyle-card {
  width: 82.4074074074vw;
  height: 42.3148148148vw;
  background: #f8f8f8;
  border-radius: 1.8518518519vw;
  margin-bottom: 4.4444444444vw;
  position: relative;
  margin-top: 3.4259259259vw; }
  .payStyle-card ul {
    padding-top: 2.7777777778vw;
    padding-right: 4.6296296296vw; }

.payStyle-card::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 3.4259259259vw solid #f8f8f8;
  border-top: 3.4259259259vw solid transparent;
  border-left: 3.4259259259vw solid transparent;
  border-right: 3.4259259259vw solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -1.712962963vw;
  top: -6.8518518519vw; }

.payStyle-card-item .icon-anonymous-iconfont-copy {
  color: #999; }
.payStyle-card-item .name {
  font-size: 3.9814814815vw; }
.payStyle-card-item :nth-child(1) {
  margin-left: 11.8518518519vw;
  margin-right: 4.6296296296vw;
  vertical-align: super; }
.payStyle-card-item :nth-child(2) {
  font-size: 4.6296296296vw; }
.payStyle-card-item :nth-child(3) {
  float: right; }
.payStyle-card-item .icon-visa {
  color: #ffcc00; }
.payStyle-card-item .icon-zhifubao {
  color: #00a7ff;
  font-size: 7.4074074074vw; }
.payStyle-card-item .icon-weixin {
  color: #7cc97c;
  font-size: 9.2592592593vw; }

.card-suc-par p {
  margin: 0;
  line-height: 1.4; }
.card-suc-par > p, .card-suc-par > div {
  padding-left: 5.462962963vw; }
.card-suc-par > div {
  margin-top: 5.1851851852vw; }
  .card-suc-par > div a:nth-child(1) {
    margin-right: 22.1296296296vw; }
.card-suc-par p:nth-child(1) {
  margin: auto;
  margin-top: 5.2777777778vw;
  height: 9.0740740741vw;
  line-height: 9.0740740741vw;
  width: 80%;
  background: #fff;
  font-size: 4.1666666667vw;
  font-weight: 600; }
.card-suc-par p:nth-child(2) {
  text-align: center;
  margin-top: 2.7777777778vw;
  margin-bottom: 6.1111111111vw; }
.card-suc-par .red {
  color: #ff6666; }
.card-suc-par .blue {
  color: #0099ff; }

.qdm .qrcode-page-content {
  background: url("../../img/card-bg.jpg"); }

.qrcode-cnt .big-code-par {
  width: 58.4259259259vw;
  height: 68.4259259259vw;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16.8518518519vw;
  text-align: center;
  font-size: 3.4259259259vw; }
  .qrcode-cnt .big-code-par p {
    margin: 0;
    line-height: 1; }
  .qrcode-cnt .big-code-par img {
    width: 36.1111111111vw;
    height: 35.9259259259vw;
    margin-top: 7.2222222222vw;
    margin-left: auto;
    margin-right: auto; }
  .qrcode-cnt .big-code-par .hm {
    margin-top: 3.7037037037vw;
    margin-bottom: 4.6296296296vw; }
  .qrcode-cnt .big-code-par .sy {
    margin-bottom: 3.7037037037vw; }
    .qrcode-cnt .big-code-par .sy span {
      color: #999; }
    .qrcode-cnt .big-code-par .sy i {
      color: #ff6666;
      margin-left: 1.6666666667vw; }
  .qrcode-cnt .big-code-par .zf {
    vertical-align: middle;
    color: #666; }
    .qrcode-cnt .big-code-par .zf .icon-zhifubao1 {
      margin-right: 1.8518518519vw;
      color: #02a9f1; }
    .qrcode-cnt .big-code-par .zf .f7-icons {
      margin-left: 1.8518518519vw;
      font-size: 3.4259259259vw; }
.qrcode-cnt .small-code-par {
  margin-top: 25.7407407407vw;
  text-align: center; }
  .qrcode-cnt .small-code-par img {
    width: 14.8148148148vw;
    height: 14.537037037vw; }
  .qrcode-cnt .small-code-par img:nth-child(1) {
    margin-right: 20.7407407407vw; }
  .qrcode-cnt .small-code-par p {
    font-size: 3.4259259259vw;
    text-align: left; }
    .qrcode-cnt .small-code-par p span {
      display: inline-block; }
    .qrcode-cnt .small-code-par p .l {
      padding-left: 25.9259259259vw; }
    .qrcode-cnt .small-code-par p .r {
      padding-left: 22.2222222222vw; }

.ewallet-par {
  padding-top: 4.6296296296vw;
  padding-bottom: 4.6296296296vw; }
  .ewallet-par .zfList {
    background: #fff;
    font-size: 3.4259259259vw;
    width: 100%;
    padding-top: 1.8518518519vw;
    padding-bottom: 1.8518518519vw; }
    .ewallet-par .zfList tr {
      padding-right: 4.1666666667vw; }
    .ewallet-par .zfList td {
      color: #333;
      padding-left: 4.1666666667vw;
      line-height: 2.2; }
  .ewallet-par .gp .blue {
    color: #00a7ff; }
  .ewallet-par .zfb {
    color: #000;
    margin-left: 10vw; }
    .ewallet-par .zfb .icon-zhifubao {
      font-size: 6.1111111111vw;
      color: #00a7ff;
      margin-right: 1.4814814815vw; }

.my-tx {
  background: #148304;
  text-align: center;
  position: relative;
  height: 33.6111111111vw; }
  .my-tx .icon-user {
    font-size: 9.2592592593vw;
    color: #66cc00; }
  .my-tx .tx-big,
  .my-tx .tx-small {
    left: 50%; }
  .my-tx .tx-big {
    width: 19.4444444444vw;
    height: 19.4444444444vw;
    border-radius: 100%;
    background: #fff;
    opacity: .8;
    display: inline-block;
    position: absolute;
    margin-left: -9.7222222222vw;
    margin-top: 0.9259259259vw; }
  .my-tx .tx-small {
    width: 17.5925925926vw;
    height: 17.5925925926vw;
    line-height: 17.5925925926vw;
    border-radius: 100%;
    background: #fff;
    margin-top: 1.8518518519vw;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left: -8.7962962963vw; }
  .my-tx p {
    position: absolute;
    top: 20.3703703704vw;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 3.7037037037vw; }
    .my-tx p span:nth-child(1) {
      margin-right: 9.2592592593vw; }

.my-cptab {
  background: #f8f8f8; }
  .my-cptab:after {
    content: '';
    display: block;
    clear: both; }
  .my-cptab li {
    float: left;
    width: 25%;
    height: 4.6296296296vw;
    margin-top: 2.7777777778vw;
    margin-bottom: 2.7777777778vw;
    text-align: center;
    line-height: 4.6296296296vw;
    border-right: 1px solid #ccc; }
    .my-cptab li span {
      color: #ffcc00; }
  .my-cptab li:last-child {
    border-right: none; }

.my-yw-par {
  background: #fff;
  font-size: 3.7037037037vw; }
  .my-yw-par i {
    font-size: 3.7037037037vw; }
  .my-yw-par li {
    line-height: 1;
    padding-top: 2.7777777778vw;
    padding-bottom: 2.7777777778vw;
    border-bottom: 1px solid #d9d9d9; }
    .my-yw-par li .name {
      padding-left: 2.7777777778vw; }
      .my-yw-par li .name > .iconfont {
        color: #ffcc33;
        font-size: 4.6296296296vw;
        margin-right: 2.5vw; }
    .my-yw-par li .inf {
      margin-top: 3.7037037037vw;
      width: 100%;
      height: 29.2592592593vw;
      background: #fffbec;
      border: 1px solid #ffcc99;
      padding-top: 4.1666666667vw;
      padding-left: 2.3148148148vw;
      padding-right: 2.3148148148vw;
      font-size: 2.962962963vw;
      border-radius: 0.9259259259vw; }
      .my-yw-par li .inf .title {
        color: #ffcc00;
        margin-top: 0;
        margin-bottom: 2.3148148148vw; }
      .my-yw-par li .inf .cnt {
        color: #d9d9d9;
        line-height: 1.5; }

.find-par {
  width: 100%;
  height: 160.2777777778vw;
  background-image: url("../../img/find-map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative; }
  .find-par .inf-card {
    display: block;
    position: absolute;
    top: 60.1851851852vw;
    left: 15.3703703704vw;
    width: 69.7222222222vw;
    height: 19.4444444444vw; }

.find-list-par {
  width: 100%;
  height: 161.9444444444vw;
  background-image: url("../../img/find-list.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative; }

.tip-par {
  height: 12.962962963vw;
  position: relative; }

.tip-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: #fff; }

.tip-list {
  position: absolute;
  top: 2.2222222222vw;
  left: 3.1481481481vw;
  box-shadow: 0 0.462962963vw 0.462962963vw #bec2c7; }
  .tip-list::after {
    content: '';
    display: block;
    clear: both; }
  .tip-list li.active {
    color: #fff;
    background: #ffcc66; }
  .tip-list li {
    float: left;
    font-size: 3.7037037037vw;
    height: 8.2407407407vw;
    line-height: 8.2407407407vw;
    background: #fff;
    color: #ccc;
    border-right: 1px solid #ccc;
    padding-left: 2.7777777778vw;
    padding-right: 2.7777777778vw; }
    .tip-list li i {
      margin-right: 1.3888888889vw; }
  .tip-list li:last-child {
    border-right: none; }

.line-top {
  padding-top: 1.8518518519vw;
  padding-bottom: 1.8518518519vw;
  background: #fff; }
  .line-top::after {
    content: '';
    display: block;
    clear: both; }
  .line-top .sch-gp {
    margin-right: 2.2222222222vw;
    float: left; }
  .line-top .right {
    font-size: 3.7037037037vw;
    color: #148304;
    line-height: 7.4074074074vw; }

.sch-gp {
  font-size: 4.2592592593vw;
  position: relative; }
  .sch-gp .iconfont {
    position: absolute;
    left: 2.2222222222vw;
    top: 50%;
    margin-top: -2.8240740741vw;
    color: #148304; }
  .sch-gp .ipt {
    width: 35.3703703704vw;
    height: 7.4074074074vw;
    border-radius: 10rem;
    padding-left: 8.7037037037vw;
    border: 1px solid #999; }

.line-map {
  width: 100%;
  height: 130.462962963vw;
  background-image: url("../../img/line.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative; }
  .line-map .sz {
    display: block;
    width: 39.1666666667vw;
    height: 19.6296296296vw;
    position: absolute;
    top: 44.0740740741vw;
    left: 28.7037037037vw; }
  .line-map .z {
    position: absolute;
    width: 5.5555555556vw;
    height: 5.5555555556vw; }
  .line-map .z:nth-child(1) {
    left: 1.8518518519vw;
    top: 110.0925925926vw; }
  .line-map .z:nth-child(2) {
    left: 13.0555555556vw;
    top: 114.7222222222vw; }
  .line-map .z:nth-child(3) {
    left: 23.1481481481vw;
    top: 114.7222222222vw; }
  .line-map .z:nth-child(4) {
    left: 30.2777777778vw;
    top: 114.2592592593vw; }
  .line-map .z:nth-child(5) {
    left: 35.6481481481vw;
    top: 120.8333333333vw; }
  .line-map .z:nth-child(6) {
    left: 47.4074074074vw;
    top: 114.537037037vw; }
  .line-map .z:nth-child(7) {
    left: 52.6851851852vw;
    top: 110.2777777778vw; }
  .line-map .z:nth-child(8) {
    left: 58.0555555556vw;
    top: 102.7777777778vw; }
  .line-map .z:nth-child(9) {
    left: 56.2037037037vw;
    top: 94.4444444444vw; }
  .line-map .z:nth-child(10) {
    left: 56.2962962963vw;
    top: 87.037037037vw; }
  .line-map .z:nth-child(11) {
    left: 56.2962962963vw;
    top: 80.5555555556vw; }
  .line-map .z:nth-child(12) {
    left: 57.1296296296vw;
    top: 70.8333333333vw; }
  .line-map .z:nth-child(13) {
    left: 65.2777777778vw;
    top: 64.0740740741vw; }
  .line-map .z:nth-child(14) {
    left: 70vw;
    top: 57.7777777778vw; }
  .line-map .z:nth-child(15) {
    left: 79.1666666667vw;
    top: 47.7777777778vw; }
  .line-map .z:nth-child(16) {
    left: 85.462962963vw;
    top: 42.2222222222vw; }
  .line-map .z:nth-child(17) {
    left: 88.7962962963vw;
    top: 31.8518518519vw; }
  .line-map .z:nth-child(18) {
    left: 87.037037037vw;
    top: 21.2962962963vw; }
  .line-map .z:nth-child(19) {
    left: 79.0740740741vw;
    top: 16.4814814815vw; }
  .line-map .z:nth-child(20) {
    left: 72.2222222222vw;
    top: 11.2962962963vw; }
  .line-map .z:nth-child(21) {
    left: 62.5vw;
    top: 8.5185185185vw; }
  .line-map .z:nth-child(22) {
    left: 50.7407407407vw;
    top: 9.9074074074vw; }

.line-btm {
  bottom: 13.8888888889vw;
  width: 100%;
  height: 18.7037037037vw;
  padding-top: 3.6111111111vw;
  background: #fff; }
  .line-btm h3 {
    margin: 0;
    font-size: 4.2592592593vw;
    line-height: 1;
    margin-bottom: 3.0555555556vw; }
  .line-btm p {
    color: #999;
    line-height: 1;
    font-size: 2.962962963vw; }

.line-list-item {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  font-size: 3.7037037037vw;
  height: 11.1111111111vw;
  line-height: 11.1111111111vw;
  color: #333;
  background: #f8f8f8;
  border-bottom: 1px solid #d6d6d6; }
  .line-list-item.startActive .start, .line-list-item.startActive .mid {
    color: #009900; }
    .line-list-item.startActive .start .icon-qi, .line-list-item.startActive .mid .icon-qi {
      color: #009900; }
  .line-list-item.endActive .end, .line-list-item.endActive .mid {
    color: #ffcc00; }
    .line-list-item.endActive .end .icon-zhong, .line-list-item.endActive .mid .icon-zhong {
      color: #ffcc00; }
  .line-list-item .iconfont {
    vertical-align: middle;
    margin-right: 1.2962962963vw;
    color: #999; }
  .line-list-item .icon-qi,
  .line-list-item .icon-zhong {
    font-size: 5.7407407407vw; }

.line-list-btm {
  text-align: center;
  height: 13.5185185185vw;
  line-height: 13.5185185185vw;
  background: #fff; }

.line-detail-par .goup {
  margin-top: 3.2407407407vw;
  background: #fdfde0;
  padding-left: 7.7777777778vw;
  height: 9.2592592593vw;
  line-height: 9.2592592593vw; }
  .line-detail-par .goup span {
    color: #ff6666; }
  .line-detail-par .goup button {
    float: right;
    height: 5.5555555556vw;
    line-height: 5.5555555556vw;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 3.0555555556vw;
    border-radius: 10rem;
    background: #009900;
    margin-top: 1.8518518519vw; }

.line-detail-zhan-list-par {
  padding-top: 7.5925925926vw;
  background: #fff;
  margin-top: 3.5185185185vw; }

.line-detail-zhan-list {
  padding-left: 3.7037037037vw; }
  .line-detail-zhan-list:after {
    content: '';
    display: block;
    clear: both; }

.line-detail-zhan-item {
  position: relative;
  float: left;
  font-size: 0; }
  .line-detail-zhan-item .start {
    position: absolute;
    font-size: 2.5925925926vw;
    color: #0099ff;
    margin-top: 0;
    margin-bottom: 0.9259259259vw;
    line-height: 1;
    top: -3.5185185185vw;
    white-space: nowrap;
    left: -1.1111111111vw; }
  .line-detail-zhan-item .iconfont {
    color: #0099ff;
    vertical-align: middle;
    font-size: 2.5925925926vw;
    margin-right: 0.0925925926vw; }
  .line-detail-zhan-item .sxian {
    display: inline-block;
    width: 0.9259259259vw;
    height: 0.2777777778vw;
    background: #0099ff;
    vertical-align: middle;
    margin-right: 0.0925925926vw; }
  .line-detail-zhan-item .xian {
    display: inline-block;
    width: 2.5925925926vw;
    height: 0.2777777778vw;
    background: #0099ff;
    vertical-align: middle;
    margin-right: 0.0925925926vw; }
  .line-detail-zhan-item .zhan {
    margin-top: 1.6666666667vw;
    writing-mode: vertical-lr;
    color: #666;
    font-size: 2.7777777778vw;
    margin-left: -0.9259259259vw; }

.line-detail {
  background: #fff; }

.line-detail-list {
  padding-left: 7.1296296296vw;
  padding-top: 3.1481481481vw;
  padding-bottom: 3.1481481481vw;
  padding-right: 3.1481481481vw;
  border-bottom: 1px solid #ccc; }
  .line-detail-list:last-child {
    border-bottom: 0; }

.line-detail-item {
  font-size: 3.0555555556vw;
  color: #666666;
  padding-left: 3.8888888889vw;
  position: relative;
  min-height: 9.2592592593vw; }
  .line-detail-item.mid {
    color: #ccc; }
    .line-detail-item.mid .iconfont {
      color: #ccc; }
    .line-detail-item.mid.active .iconfont {
      color: #ffcc00; }
  .line-detail-item .iconfont {
    font-size: 6.4814814815vw;
    position: absolute;
    left: -3.2407407407vw;
    top: -2.037037037vw; }
  .line-detail-item .icon-qi,
  .line-detail-item .icon-zhong {
    color: #0099ff; }
  .line-detail-item.solid {
    border-left: 1px solid #0099ff; }
  .line-detail-item .r {
    float: right; }
  .line-detail-item .blue {
    color: #0099ff; }
  .line-detail-item.dotted {
    border-left: 1px dotted #ccc; }
  .line-detail-item:last-child {
    border-left: none; }
  .line-detail-item .more {
    font-size: 2.4074074074vw;
    color: #999;
    margin-top: 2.5925925926vw;
    margin-bottom: 0;
    padding-bottom: 2.5925925926vw; }

.login-bg {
  position: relative; }
  .login-bg img {
    width: 100%;
    height: 100%; }
  .login-bg .account,
  .login-bg .password,
  .login-bg .button {
    position: absolute; }
  .login-bg .account {
    left: 25.0925925926vw;
    width: 58.7962962963vw;
    height: 10.1851851852vw;
    top: 67.6851851852vw;
    padding-left: 0.9259259259vw; }
  .login-bg .password {
    left: 25.0925925926vw;
    width: 58.7962962963vw;
    height: 10.1851851852vw;
    top: 84.4444444444vw;
    padding-left: 0.9259259259vw; }
  .login-bg .button {
    display: block;
    left: 16.8518518519vw;
    width: 69.4444444444vw;
    height: 11.1111111111vw;
    top: 107.6851851852vw; }

/*# sourceMappingURL=my-app.css.map */
