$sw: 1080;
$sh: 2120;
$main-color: #148304;
@function vw($num) {
  @return $num*100 / $sw +vw;
}

/*公共*/
* {
  box-sizing: border-box;
}

.navbar:after {
  background-color: transparent;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pseudo-clear:after {
  clear: both;
  display: block;
  content: '';
}

.pseudo-clear:before {
  clear: both;
  display: block;
  content: '';
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-both {
  clear: both;
}

/*公共end*/
.qdm {
  .navbar {
    background: $main-color;
    height: 132*100/$sw +vw;
    .qdm-icon-back {
      color: #fff;
    }
    .iconfont {
      font-size: 66*100/$sw +vw;
      color: #fff;
    }
    .center {
      color: #fff;
    }
    .qdm-titleSearch-gp {
      position: relative;
      height: 28px;
      width: percentage(664/($sw - 18));
      //margin-left: percentage(($sw - 664)/($sw - 18)/2);
      .sch, .mic {
        font-size: 1.2rem;
        position: absolute;
      }
      .sch {
        left: .5rem;
        top: 50%;
        margin-top: -.6rem;
        color: #148304;
        line-height: 1;
      }
      .mic {
        right: .5rem;
        top: 50%;
        margin-top: -.6rem;
      }
      .ipt {
        border-radius: 10rem;
        padding-left: 2.2rem;
      }
    }
  }
  .page-content {
    padding-bottom: 180*100/$sw +vw;
    background: #f8f8f8;
  }
  .toolbar {
    background: #f8f8f8;
    height: 150*100/$sw +vw;
    border-top: 1px solid #999;
    .link {
      &.active {
        i {
          color: #148304;
        }
        .tabbar-label {
          color: #333;
        }
      }
      i {
        font-size: 59*100/$sw+vw;
      }
      span {
        margin-left: 0;
      }
    }
  }
  .tabbar {
    a {
      color: #999;
    }
  }
  .tabbar-label {
    line-height: 1;
    font-size: 33*100/$sw +vw;
    margin-top: 10*100/$sw +vw;
  }
  .right-my {
    a {
      color: #ffcc66;
      font-size: vw(30);
      vertical-align: middle;
    }
    .icon-qiandao {
      color: #ffcc66;
      font-size: vw(80);
      margin-right: vw(8);
    }
  }
}

.linePar {
  position: relative;
}

.component {
  position: absolute;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.tip {
  position: absolute;
  width: 171px;
  height: 81px;
  background: url('../../img/paopao.png');
  background-repeat: no-repeat;
  top: 300px;
  left: 120px;
}

.zhanname {
  font-size: 1.2rem;
  font-weight: 600;
  width: 160px;
  margin: auto;
  height: 30px;
  border-bottom: 1px solid;
  margin-top: 5px;
  padding-left: 20px;
}

.zbtns {
  margin-top: 5px;
}

.qd {
  background: rgb(0, 102, 0);
  margin-left: 15px;
}

.zd {
  background: rgb(255, 0, 0);
}

.qd, .zd {
  width: 70px;
  height: 28px;
  line-height: 28px;
  border: none;
  color: #fff;
}

.line-btm-btns {
  width: 80%;
  margin: auto;
}

.topzhan {
  width: 90%;
  height: 60px;
  margin: auto;
  margin-top: 1.5rem;
}

.topzhanCard {
  width: 110px;
  height: 56px;
  line-height: 56px;
  background: rgb(204, 204, 204);
  p {
    margin: 0;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
    font-size: .6rem;
  }
  i {
    margin-right: .3rem;
  }
}

.topzhanCardL {
  float: left;
}

.topzhanCardR {
  float: right;
}

.address-ttl {
  border-bottom: 1px solid #ccc;
  height: 25px;
  line-height: 25px;
  .inf {
    font-weight: 600;
    color: #000;
    float: left;
  }
  .opt {
    color: red;
    float: right;
  }
}

.address {
  margin-left: 10px;
  margin-right: 10px;
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    border-bottom: 1px solid #ccc;
    height: 34px;
    line-height: 34px;
    position: relative;
    i {
      position: absolute;
      top: 50%;
      margin-top: -.5rem;
      right: 10px;
      font-size: 1rem;
    }
  }
}

.address-ttl:after {
  content: '';
  display: block;
  clear: both;
}

.funItems {
  .circle {
    width: vw(134);
    height: vw(134);
    line-height: vw(134);
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    .iconfont {
      color: #fff;
      font-size: 72*100/$sw +vw;
    }
  }
  .iconfont {
    font-size: 87*100/$sw +vw;
  }
  li {
    margin-top: vw(20);
    margin-bottom: vw(20);
    float: left;
    width: 25%;
    text-align: center;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  span {
    display: block;
    line-height: 1;
    margin-top: vw(20);
    font-size: 36*100/$sw+vw;
  }
}

.index-pd-lr {
  padding-left: vw(34);
  padding-right: vw(34);
}

.icon-fun-blue {
  color: #2796d4;
}

.icon-fun-green {
  color: #66cc99;
}

.icon-fun-yellow {
  color: #ffcc33;
}

.icon-fun-xh {
  color: #ff3366;
}

.circle-fun-blue {
  background: #66ccff;
}

.circle-fun-green {
  background: #33cc66;
}

.circle-fun-yellow {
  background: #ffcc66;
}

.circle-fun-xh {
  background: #ff9999;
}

.top-fun-par {
  background: $main-color;
  color: #fff;
  padding-left: vw(34);
  padding-right: vw(34);
  padding-top: vw(30);
  padding-bottom: vw(34);
  .iconfont {
    font-size: 87*100/$sw +vw;
  }
  span {
    font-size: 36*100/$sw+vw;
  }
}

.mid-fun-par {
  background: #fff;
  padding-left: vw(34);
  padding-right: vw(34);
  padding-bottom: vw(20);
  .iconfont {
    font-size: 87*100/$sw +vw;
  }
  span {
    font-size: 36*100/$sw+vw;
  }
  li {
    margin-top: vw(20);
    margin-bottom: vw(20);
  }
}

.notice-par {
  padding-top: vw(30);
  padding-bottom: vw(30);
  background: #ffffcc;
  ul {
    margin-left: vw(37);
  }
  li {
    list-style: disc inside;
    line-height: 1;
    margin-top: vw(20);
    margin-bottom: vw(20);
    font-size: vw(33);
    color: #ff9900;
  }
  ul, .notice-img {
    display: inline-block;
    vertical-align: middle;
  }
}

.notice-img {
  margin-left: vw(57);
  font-size: 0;
  img {
    width: vw(130);
    height: vw(123);
  }
}

.news-list {
  border-top: 1px solid #ccc;
}

.news-list-item {
  @extend .index-pd-lr;
  border-bottom: 1px solid #ccc;
  padding-top: vw(15);
  padding-bottom: vw(15);
}

.news-list-img,
.news-list-inf {
  display: inline-block;
  vertical-align: middle;
}

.news-list-img {
  font-size: 0;
  img {
    width: vw(328);
    height: vw(215);
  }
}

.news-list-inf {
  width: vw(656);
  height: vw(215);
  margin-left: vw(15);
  h3 {
    margin: 0;
    line-height: 1;
  }
  p {
    line-height: 1.5;
    margin-top: vw(17);
    margin-bottom: vw(17);
  }
}

.news-list-inf-title {
  font-weight: 600;
  font-size: vw(38);
}

.news-list-inf-cnt {
  font-size: vw(30);
}

.index-news-par {
  background: #f8f8f8;
  padding-bottom: vw(30);
}

.news-list-inf-btm {
  font-size: vw(25);
  .iconfont {
    font-size: vw(25);
  }
}

.news-list-inf-btm-time {
  color: #ccc;
}

.news-list-inf-btm-read {
  float: right;
  color: #ffcc33;
  i, span {
    line-height: 1;
    vertical-align: middle;
  }
}

.imgnews-list {
  @extend .index-pd-lr;
}

.imgnews-list-item-title {
  font-size: vw(34);
}

.imgnews-list-item-img {
  li {
    float: left;
    margin-right: vw(28);
    &:last-child {
      margin-right: 0;
    }
    img {
      width: vw(230);
      height: vw(238);
    }
  }
}

.moreFun-page-content {
  background: #fff;
}

.moreFun-par {
  background: #fff;
}

.my-funs-title {
  border-left: vw(30) solid #ffcc33;
  background: #f8f8f8;
  color: #666;
  font-size: vw(39);
  padding-left: vw(32);
  height: vw(100);
  line-height: vw(100);
  font-weight: 600;
}

.all-funs {
  margin-bottom: vw(40);
}

.newsDetail {
  @extend .index-pd-lr;
  h3 {
    font-weight: 600;
    font-size: vw(56);
    color: #000;
    line-height: 1.4;
  }
}

.newsDetail-time {
  font-size: vw(34);
  color: #999;
}

.newsDetail-cnt {
  font-size: vw(39);
  color: #666;
  line-height: 1.8;
}

.mail-banner {
  font-size: 0;
  img {
    width: 100%;
    height: vw(362);
  }
}

.mail-fun {
  @extend .index-pd-lr;
  background: #f8f8f8;
  padding-top: vw(10);
  padding-bottom: vw(10);
}

.product-list-par {
  @extend .index-pd-lr;
  margin-top: vw(20);
  background: #fff;
}

.product-list-item {
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: vw(32);
  background: #fff;
}

.product-list-item-img,
.product-list-item-cnt {

}

.product-list-item-img {
  font-size: 0;
  img {
    width: vw(260);
    height: vw(260);
  }
}

.product-list-item-cnt {
  margin-left: vw(30);
  height: vw(260);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    margin: 0;
    font-size: vw(33);
    margin-top: vw(50);
  }
}

.product-list-item-btm {
  margin-bottom: 0;
}

.product-list-item-price {
  color: #ff0000;
  font-size: vw(33);
}

.product-list-item-oldPrice {
  color: #999;
  text-decoration: line-through;
  font-size: vw(25);
}

.product-list-item-distance {
  float: right;
  font-size: vw(25);
  color: #ff0000;
}

.product-detail {
  img {
    width: 100%;
    height: vw(673);
  }
}

.product-detail-cnt {
  //@extend .index-pd-lr;
  .price {
    @extend .index-pd-lr;
  }
}

.product-detail-seller-inf {
  background: #ffffcc;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.product-detail-title {
  @extend .index-pd-lr;
}

.product-detail-seller-inf-cnt {
  margin-left: vw(36);
  padding-right: vw(50);
  padding-bottom: vw(20);
  p {
    margin: 0;
  }
  p:nth-of-type(1) {
    color: #ff9900;
    font-size: vw(38);
    margin-top: vw(32);
  }
  p:nth-of-type(2) {
    color: #333;
    font-size: vw(33);
    line-height: 2;
  }
}

.product-detail-seller-inf {
  display: -webkit-flex;
  display: flex;
}

.product-detail-seller-inf-img {
  width: vw(114);
  i {
    float: right;
    margin-top: vw(28);
    color: #ff9900;
  }
}

.product-detail-seller-sj {
  font-weight: 600;
  @extend .index-pd-lr;
  i {
    margin-left: vw(18);
    top: vw(3);
    position: relative;
  }
}

.product-detail-img {
  font-size: 0;
  img {
    width: 100%;
  }
}

.product-detail-tip {
  float: right;
  background: #66cc33;
  color: #fff;
  margin-left: vw(15);
  padding: vw(10);
  border-radius: vw(10);
}

.inf-banner {
  font-size: 0;
  img {
    width: 100%;
    height: vw(566);
  }
}

.bztj {
  background: #fff;
  margin: 0;
  @extend .index-pd-lr;
  font-size: vw(39);
  height: vw(112);
  line-height: vw(112);
}

.inf-index-tab {
  display: -webkit-flex;
  display: flex;
  background: #ececec;
  li {
    width: 25%;
    height: vw(120);
    line-height: vw(120);
    text-align: center;
  }
  .active {
    border-bottom: 2px solid #ffcc33;
  }
}

.card-page-content {
  position: relative;
}

.card-bg {
  img {
    width: 100%;
    height: 100%;
  }
}

.card-cnt {
  position: absolute;
  top: 0;
  left: 0;
  .img-par {
    position: absolute;
    top: vw(426);
    left: vw(368);
    img {
      width: vw(329);
      height: vw(203);
    }
    span {
      display: inline-block;
      color: #999;
      font-size: vw(42);
      white-space: nowrap;
      margin-left: -2vw;
      margin-top: vw(46);
    }
  }
}

.card-suc-par,
.card-par {
  width: vw(884);
  height: vw(632);
  background: #fefedb;
  position: absolute;
  top: vw(835);
  left: vw(119);
  border-radius: 14px;
}

.card-par {
  p {
    margin: auto;
    width: 80%;
    background: #fff;
  }
  p:nth-child(1) {
    margin-top: vw(57);
    height: vw(98);
  }
  p:nth-child(2) {
    margin-top: vw(130);
    height: vw(255);
  }
  .cnt {
    text-align: center;
    .iconfont {
      font-size: vw(94);
      color: #ccc;
      margin-top: vw(30);
    }
    a {
      display: block;
      font-size: vw(40);
      color: #0099ff;
      margin-top: vw(30);
    }
  }
}

.cloudCard-open-par {
  @extend .index-pd-lr;
  padding-top: vw(50);
  padding-bottom: vw(50);
  .ty {
    color: #0099ff;
    margin-top: vw(46);
    i {
      margin-right: vw(26);
    }
    margin-left: vw(75);
  }
  .kt {
    display: block;
    width: vw(872);
    height: vw(108);
    line-height: vw(108);
    color: #fff;
    background: #ffcc00;
    outline: 0;
    border-radius: vw(10);
    border: 0;
    margin: auto;
    text-align: center;
    /* position: relative;
     left: 50%;
     margin-left: vw(-872/2);*/
  }
  .gz {
    margin-top: vw(75);
    padding-left: vw(35);
    color: #999;
    line-height: 1.8;
    p {
      margin: 0;
    }
  }
}

.cloudCard-open-form {
  background: #fff;
  font-size: vw(40);
  .gp {
    line-height: vw(122);
    padding-left: vw(45);
    border-bottom: 1px solid #c6c6c6;
    .name {
      color: #999;
    }
    .r {
      float: right;
      color: #333;
      margin-right: vw(20);
      .icon-arrow {
        margin-right: vw(20);
      }
      .icon-wenhao {
        color: #0099ff;
        margin-right: vw(20);
        margin-left: vw(10);
      }
      &.price {
        color: #ff6666;
        margin-right: vw(80);
      }
    }
    .label-switch {
      margin-left: vw(15);
    }
  }
}

.payStyle-card {
  width: vw(890);
  height: vw(457);
  background: #f8f8f8;
  border-radius: vw(20);
  margin-bottom: vw(48);
  position: relative;
  margin-top: vw(37);
  ul {
    padding-top: vw(30);
    padding-right: vw(50);
  }
}

.payStyle-card::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: vw(37) solid #f8f8f8;
  border-top: vw(37) solid transparent;
  border-left: vw(37) solid transparent;
  border-right: vw(37) solid transparent;
  position: absolute;
  left: 50%;
  margin-left: vw(-37/2);
  top: vw(-37*2);
}

.payStyle-card-item {
  .icon-anonymous-iconfont-copy {
    color: #999;
  }
  .name {
    font-size: vw(43);
  }
  :nth-child(1) {
    margin-left: vw(128);
    margin-right: vw(50);
    vertical-align: super;
  }
  :nth-child(2) {
    font-size: vw(50);
  }
  :nth-child(3) {
    float: right;
  }
  .icon-visa {
    color: #ffcc00;
  }
  .icon-zhifubao {
    color: #00a7ff;
    font-size: vw(80);
  }
  .icon-weixin {
    color: #7cc97c;
    font-size: vw(100);
  }
}

.card-suc-par {
  p {
    margin: 0;
    line-height: 1.4;
  }
  & > p,
  & > div {
    padding-left: vw(59);
  }
  & > div {
    margin-top: vw(56);
    a:nth-child(1) {
      margin-right: vw(239);
    }
  }
  p:nth-child(1) {
    margin: auto;
    margin-top: vw(57);
    height: vw(98);
    width: 80%;
    background: #fff;
  }
  p:nth-child(2) {
    text-align: center;
    margin-top: vw(30);
    margin-bottom: vw(66);
    font-size: vw(39);
    font-weight: 600;
  }
  .red {
    color: #ff6666;
  }
  .blue {
    color: #0099ff;
  }
}

.qdm {
  .qrcode-page-content {
    background: url('../../img/card-bg.jpg');
  }
}

.qrcode-cnt {
  .big-code-par {
    p {
      margin: 0;
      line-height: 1;
    }
    width: vw(631);
    height: vw(739);
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: vw(182);
    text-align: center;
    font-size: vw(37);
    img {
      width: vw(390);
      height: vw(388);
      margin-top: vw(78);
      margin-left: auto;
      margin-right: auto;
    }
    .hm {
      margin-top: vw(40);
      margin-bottom: vw(50);
    }
    .sy {
      margin-bottom: vw(40);
      span {
        color: #999;
      }
      i {
        color: #ff6666;
        margin-left: vw(18);
      }
    }
    .zf {
      vertical-align: middle;
      color: #666;
      .icon-zhifubao1 {
        margin-right: vw(20);
        color: #02a9f1;
      }
      .f7-icons {
        margin-left: vw(20);
        font-size: vw(37);
      }
    }
  }
  .small-code-par {
    margin-top: vw(278);
    text-align: center;
    img {
      width: vw(160);
      height: vw(157);
    }
    img:nth-child(1) {
      margin-right: vw(224);
    }
  }
}

.ewallet-par {
  @extend .index-pd-lr;
  padding-top: vw(50);
  padding-bottom: vw(50);
  .zfList {
    background: #fff;
    font-size: vw(37);
    width: 100%;
    padding-top: vw(20);
    padding-bottom: vw(20);
    tr {
      padding-right: vw(45);
    }
    td {
      color: #333;
      padding-left: vw(45);
      line-height: 2.2;
    }
  }
  .gp .blue {
    color: #00a7ff;
  }
  .zfb {
    color: #000;
    margin-left: vw(108);
    .icon-zhifubao {
      font-size: vw(66);
      color: #00a7ff;
      margin-right: vw(16);
    }
  }
}

.my-tx {
  background: #148304;
  text-align: center;
  position: relative;
  height: vw(363);
  .icon-user {
    font-size: vw(100);
    color: #66cc00;
  }
  .tx-big,
  .tx-small {
    left: 50%;
  }
  .tx-big {
    width: vw(210);
    height: vw(210);
    border-radius: 100%;
    background: #fff;
    opacity: .8;
    display: inline-block;
    position: absolute;
    margin-left: vw(-210/2);
    margin-top: vw(10);
  }
  .tx-small {
    width: vw(190);
    height: vw(190);
    line-height: vw(190);
    border-radius: 100%;
    background: #fff;
    margin-top: vw(20);
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left: vw(-190/2);
  }
  p {
    position: absolute;
    top: vw(220);
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: vw(40);
    span:nth-child(1) {
      margin-right: vw(100);
    }
    span:nth-child(2) {

    }
  }
}

.my-cptab {
  background: #f8f8f8;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  li {
    float: left;
    width: 25%;
    height: vw(50);
    margin-top: vw(30);
    margin-bottom: vw(30);
    text-align: center;
    line-height: vw(50);
    border-right: 1px solid #ccc;
    span {
      color: #ffcc00;
    }
  }
  li:last-child {
    border-right: none;
  }
}

.my-yw-par {
  background: #fff;
  font-size: vw(40);
  i {
    font-size: vw(40)
  }
  li {
    @extend .index-pd-lr;
    line-height: 1;
    padding-top: vw(30);
    padding-bottom: vw(30);
    border-bottom: 1px solid #d9d9d9;
    .name {
      padding-left: vw(30);
      & > .iconfont {
        color: #ffcc33;
        font-size: vw(50);
        margin-right: vw(27);
      }
    }
    .inf {
      margin-top: vw(40);
      width: 100%;
      height: vw(316);
      background: #fffbec;
      border: 1px solid #ffcc99;
      padding-top: vw(45);
      padding-left: vw(25);
      padding-right: vw(25);
      font-size: vw(32);
      border-radius: vw(10);
      .title {
        color: #ffcc00;
        margin-top: 0;
        margin-bottom: vw(25);
      }
      .cnt {
        color: #d9d9d9;
        line-height: 1.5;
      }
    }
  }
}